@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
 }

table{
    border: 1px solid black;
    width: 100%;
}

table tr th {
    background-color: gainsboro;
    border: 1px solid red;
    /*border-collapse: collapse;*/
}

table tr td {
    border: 1px solid greenyellow;
}

.telefono{
    text-align: right;
}

